 <div class="container">
   <div class="listedGreeted">
    {{#each disp}}
  <div class="counter"><h3>Hello, {{name}} has been greeted {{greeted}} times</h3></div>
  {{/each}}
  </div>
  <div class="status">
 <a  href="/counter"><button class="status back">BACK</button></a>
</div>
 </div>