<header class="greetedList"><h1>Greeted List</h1></header>
<div class="greetlist">
<table>
    <tr>
        <th>Name</th>
        <th></th>
        <th></th>
    </tr>

    {{#each greetedNames}}
        <tr>
        <td><a href="{{name}}">{{name}}</a></td>
        <td><a href="#"><h6>delete</h6></a></td>
        <td>
            </tr>
    {{/each}}


</table>
</div>
<div class="status">
  <button class="status">BACK</button>
</div>