<header class="greetedList"><h1>Greeted List</h1></header>
<div class="greetlist">
<table>
    <tr>
        <th>Name</th>
        <th></th>
        <th></th>
    </tr>

    {{#each greetedNames}}
        <tr>
        <td><a href="/counted/{{name}}">{{name}}</a></td>
        <td><form action="/counter/delete/{{name}}" method="POST"> <button class="deleteButton">delete</button></form></td>
            </tr>
    {{/each}}


</table>
</div>
<div class="status">
 <a  href="/"><button class="status back">BACK</button></a>
</div>