<div class="counted">
<div class="counter"><h3>Hello, {{currentUser}} has been greeted {{greetedCounter}} times.</h3></div>
<form action="/greetings/:user">
<span class="block"><button class="back">Back</button></span>
</form>
</div>
