<header class="greetedList"><h1>Greeted List</h1></header>
<div class="greetlist">
    <div  class="contTable">
<table>
    <tr>
        <th class="tableHead"><h5>Name</h5></th>
        <th></th>

    </tr>

    {{#each greetedNames}}
        <tr>
        <td><a href="/counted/{{name}}" class="names">{{name}}</a></td>
        <td><form action="/counter/delete/{{name}}" method="POST"> <div class="deleteButton"><button >Delete</button></div> </form></td>
            </tr>
    {{/each}}


</table>
</div>
<div class="greet">
 <a  href="/"><button>BACK</button></a>
 </div>
</div>
 </div>