<body>
  <div class="container">
  <h1 class="greetHead">Greet Web Form</h1>
   <div class="greeted">
 {{#each counted}} <div class="counter"><h3>Names Greeted : {{count}}</h3></div>{{/each}}
  </div>
  
  <div class="cont">
    
    <div class="eleven columns">
      <form action="/greetings/submit" method="POST">
        
        <div class="block">
       <label for="names"><h4>Name:</h4></label>
       <input id="names" type="text" name="user"> 

       <div class="radioBlocks">
        <label>
        <input  type="radio" name="languageButton" value="English">
          English
          </label>
      </div>
      
      <div class="radioBlocks">        
        <label><input  type="radio" name="languageButton" value="Japanese">
         Japanese
          </label>
      </div>
      <div class="radioBlocks">
        <label>
        <input type="radio" name="languageButton" value="Italian">
          Italian
          </label>
      </div>
        </div>
        <div class="block">
     <button type="submit">GREET</button> 
        </div>


      </form> 
      
      <form action="/counter" method="POST">

<div class="status">
  <button class="status" >STATUS</button>
</div>
      </form>   

      <form action="/reset" method="GET">

<div class="status">
  <button class="status" >RESET</button>
</div>
      </form> 

    </div>
    
  </div>
  
  <div class="returned">
    <div class="response"><h3>{{greeted}}</h3></div>
    
  </div>
  </div>
 
  
</body>


