<body>
  <div class="container">
  <h1 class="greetHead">Greet Web Form</h1>
   <div class="greeted">
     <div class="counter"><h3>Names Greeted :</h3></div>
  </div>
  
  <div class="cont">
    
    <div class="eleven columns">
      <form action="">
        
        <div class="block">
       <label for="names"><h4>Name:</h4></label>
       <input id="names" type="text">
        </div>
        <div class="block">
     <button type="submit">GREET</button> 
        </div>
      </form>     
    </div>
    
  </div>
  
  <div class="returned">
    <div class="response"><h3>Hello</h3></div>
    
  </div>
  </div>
 
  
</body>


