.cont{
    margin-top:30px;
    margin-bottom:30px;
    margin-left:80px;
    width:620px;
    display:inline-block;
    border:solid;
    border-radius:10px;
    background-color:#2384b5;
    box-shadow:10px 10px black;
     
  }
  
  .greetHead{
    text-align:center;
    text-shadow: 2px 2px green;
    text-decoration:underline;
  }
  
  
  .block{
    text-align:center;
    margin-top:50px;
  }

  .status{
    text-align:center;
  }
  .status button{
    text-align:center;
    background-color: yellow;
    color:black;
  }


  
  input[type=text]{
    margin-left:20px;
    width:350px;
    height:50px;
    font-size:30px;
    padding-left:30px;
    background-color:#7ef6ff;
    text-shadow:2px 2px green;
    text-transform:uppercase;
    
  }
  
  label{
    display:inline-block;
    color:black;
  }
  
  label h4{
    text-shadow:2px 2px green;
  }
  
  .block button{
    transition:0.6s;
    background-color:yellow;
    color:black;
  }
  
  .block button:hover{
    transition:0.5s;
    box-shadow:5px 5px ;
    text-shadow: 2px 2px green;
  }
  
  
  th,td {
    text-align:center;
    width:100%;
    
  }
  
  th{
    text-decoration:underline;
  }
  
  .returned{
    display:inline-block;
    width:580px;
    height:100px;
    float:left;
    margin-left:100px;
    border:solid; 
    border-radius:10px;
    background-color:#2384b5;
    box-shadow:10px 10px black;
    }
  
  .response {
    text-align:center;
    padding:10px;
    color:black
  
  }
  
  .greeted{
    display:inline-block;
     width:580px;
    height:70px;
    float:left;
    margin-left:100px;
    margin-top:30px;
    border:solid; 
    border-radius:10px;
    background-color:#2384b5;
    box-shadow:10px 10px black;
  }
  
  .counter{
    text-align:center;
    margin:10px;
    color:black;
    text-shadow:2px 2px green;
  }

  .radioBlocks{
    margin-left:10px;
    display:inline-block;
    width:30%;
  
  }
  
  label{
    font-size:30px;
  }

  .counter a{
    color:blue;
    transition: 0.05s;
    text-decoration-color: yellow;
  }
  
  .counter a:hover{
    transition:0.5s;
   text-shadow:4px 4px green; 
  }

  .counted{
    display:inline-block;
     width:580px;
    height:100px;
    float:left;
    margin-left:100px;
    margin-top:30px;
    border:solid; 
    border-radius:10px;
    background-color:#2384b5;
    box-shadow:10px 10px black;
  }

  .back button{
    transition:0.6s;
    background-color:yellow;
    color:black;
  }

  .back button:hover{
    transition:0.5s;
    box-shadow:5px 5px ;
    text-shadow: 2px 2px green;
  }

  .greetlist{
    padding:20px;
    width: 70%;
  }

  .greetedList{
    text-align: center;
    border-bottom: solid;
  }
table a :nth-child(1){
  color: red;
text-decoration: underline;
  text-decoration-color: white;
}
  
table a :nth-child(1):hover{
  text-decoration-color: red;
}

table a{
  color: blue;
  text-decoration: underline;
  text-decoration-color: white;
}
  
table a :hover{
  text-decoration-color: blue;
}

table,th, td {
  
  padding: 4px;
  column-span: 2px;
  text-align: center;
}

.back a {
  color: black;
}

.listedGreeted{
  display:inline-block;
  width:580px;
 height:100px;
 float:left;
 margin-left:100px;
 margin-top:30px;
 margin-bottom:30px;
 border:solid; 
 border-radius:10px;
 background-color:#2384b5;
 box-shadow:10px 10px black;
}

.greet button{
  transition:0.6s;
    background-color:green;
    color:black;

}

.reset button{
  transition:0.6s;
  background-color:red;
  color:black;
}

.greet, .reset{
  text-align: center;
  display: inline-block;
  margin-left:5px;
}


.greet button:hover, .reset button:hover{
  transition:0.5s;
  box-shadow:5px 5px ;
 
}

.mainButtons{
  text-align: center;
}

.deleteButton {
  padding: 0;
border: none;
background: none;
color: red;
}
